name: Publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Publishing steps
        run: |
          npm install
          npm config set registry 'https://registry.npmjs.org'
          npm ci
          npm run build --if-present
          npm run test
          npm publish
