name: Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Publishing steps
        run: |
          npm install
          npm config set registry 'https://registry.npmjs.org'
          npm run build
          npm run test
          npm publish --ignore-scripts
